<h2>Bio</h2>
<p>Nick is an agile coach and architect, TDD practitioner and trainer, team builder and leader, code craftsman and testing evangelist. Learn more about his <a href="/cv">skills and experience by reading his online cv (résumé)</a>.
</p>
<p>Nick currently works as an independent consultant for <a href="https://www.deliverist.co.uk">Deliverist</a></p>
<p>
Nick focuses on successful execution and decision making based on critical thinking and evidence. He excels at helping startups get to market using lean principles. He also uses that experience to help larger companies with their agile transformation.
</p>

