{% include quote-neal.html %}

<h2>Bio</h2>

<p>Nick is a <strong>software engineer</strong>, code craftsman and testing evangelist. He is also a TDD practitioner and trainer; <strong>team builder and code leader</strong>. Learn more about his <a href="/cv">skills and experience by reading his online cv (résumé)</a>.
</p>
<p>
Nick is currently specialising in <strong>Front end React SPAs</strong> and <strong>Node.js serverless</strong> based microservices on <strong>AWS</strong>.
</p>
<p>Nick works as an independent consultant at <a href="https://www.deliverist.co.uk">Deliverist</a>, currently providing software engineering and technical consultancy for <a href="https://www.fidelity.co.uk/">Fidelity Global Digital Wealth</a>.</p>
<p>
Nick focuses on successful execution and decision making based on critical thinking and evidence. He excels at helping startups get to market using <strong>lean principles</strong>. He also uses that experience to help larger companies with their software engineering and agile transformations.
</p>

<blockquote>
  <p>
Nick’s knowledge of development best practices is second to none, and as dev lead he introduced many improvements to the working practices at Waitrose, these included a comprehensive testing approach, continuous integration, build and release pipelines and much more. 
  </p>
</blockquote>
<p class="reference">Paul Brownsmith, Front end Developer, Waitrose</p>
