<h2>Bio</h2>
<p>Nick is a <strong>software engineer</strong>, code craftsman and testing evangelist. He is also a TDD practitioner and trainer; <strong>team builder and code leader</strong>.
</p>
<p>Nick works as an independent consultant at <a href="https://www.deliverist.co.uk">Deliverist</a>, currently providing software engineering and technical consultancy for <a href="https://www.fidelity.co.uk/">Fidelity Global Digital Wealth</a>.</p>
<p>
Nick focuses on successful execution and decision making based on critical thinking and evidence. He excels at helping startups get to market using <strong>lean principles</strong>. He also uses that experience to help larger companies with their software engineering and agile transformations.
</p>
<p>
Nick is currently specialising in <strong>Front end React SPAs</strong> and <strong>Node.js serverless</strong> based microservices on AWS.
</p>
<p>
He has extensive experience in designing and implementing systems, taming complexity. He has spent years employing the latest agile principles and practices to deal with a constantly changing business horizon.
</p>
