code {
  font-family: Monaco, 'Lucida Console', 'Courier New', monospace;

  &.highlight {
    padding: 0px 5px 0px 5px;
    margin: 0px;
  }
}

figure {
  &.highlight {
    padding: 10px;
    margin: 0px;
  }
}

pre {
  white-space: pre-wrap;
  word-wrap: break-all;
}
