article {
  .published {
    font-style: italic;
  }

  img {
    max-width: 100%;
    height: auto;

    &.full-width {
      width: 100%;
    }

    &.logo-inset {
      width: 70px;
      display: block;
      margin: auto;
      padding-top: 20px;

      &.thin {
        width: 140px;
      }
    }
  }

  blockquote {
    font-size: 20px;
    font-style: italic;
    padding: 8px;
    background-color: #faebbc;
    border: 1px solid #e1cc89;
    margin: 5px;
    background-image: url(/assets/images/openquote.gif);
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: 23px;
  }
  blockquote p {
    display: block;
    color: #666;
    background-image: url(/assets/images/closequote.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
