h1 {
  font-size: 52px;
  font-weight: normal;
}

@media (min-width: 500px) and  (max-width: 780px) {
  h1 {
    font-size: 36px;
 } 
} 

@media (max-width: 500px) {
  h1 {
    font-size: 30px;
 } 
} 

h2 {
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}
